@model YapayZekaSonuclari

<h3 class="font-weight-bold text-white">
    Yapay Zekayı Tahmin Sonuçları   <i class="fa-solid fa-hexagon-nodes-bolt"></i>
    <hr />
</h3>

<p class="text-white">
    Toplam Muyane Sayisi : @Model.MuayeneSayisi
</p>
<p class="text-white">
    Yapay Zekanın Yapmış Olduğu Doğru Tahmin Sonucu : @Model.DogruTahminSayisi
</p>
<p class="text-white">
    Yapay Zekanın Yapmış Doğruluğu % @Model.TahminOrani
</p>
