@model AnaSayfaFotografEkleViewModel


@section AdminMenu {
    @await Html.PartialAsync("_AdminMenu")
}


<form asp-action="FotografEkle" asp-controller="Admin" method="post" enctype="multipart/form-data">


    <div>
        <div class="form-col mb-3">
            <input type="text" asp-for="FotografAdi" class="form-control" placeholder="Fotoğraf Adı">
            <div class="my-1">
                <span class="font-weight-bold text-danger bg-light text-danger rounded" asp-validation-for="FotografAdi">
                </span>
            </div>
        </div>
    </div>


    <div class="form-col mb-3">
        <div class="custom-file">
            <input type="file" class="custom-file-input" id="customFileLangHTML" asp-for="FilePhoto" accept=".jpg,.jpeg,.png,.bmp">
            <label class="custom-file-label" for="customFileLangHTML" data-browse="Seç">Fotoğraf Seç</label>
        </div>
        <div class="my-1">
            <span class="font-weight-bold text-danger bg-light text-danger rounded" asp-validation-for="FilePhoto">
            </span>
        </div>
    </div>
    <button type="submit" class="col btn btn-dark rounded mb-2">Ekle</button>

</form>

@if (TempData["Kaydedildi"] != null)
{
    <div class="alert alert-success" id="Kaydedildi">@TempData["Kaydedildi"]</div>

}

@section scripts {
    <script>
        setTimeout(function () {
            var successMessage = document.getElementById("Kaydedildi");
            successMessage.remove();
        }, 2500);
    </script>
}



