@model HakkimizdaIcerikEditleViewModel

@section AdminMenu {
    @await Html.PartialAsync("_AdminMenu")
}

<form asp-action="HakkimizdaIcerikEditle" asp-controller="Admin" method="post">
    <div class="form-col">
        <div class="col mb-2">
            <input type="text" asp-for="Baslik" class="form-control" placeholder="Başlık">
        </div>
        <span class="row font-weight-bold text-danger bg-light text-danger rounded mx-3 mb-2" asp-validation-for="Baslik">
        </span>

        <div class="col mb-2">
            <textarea asp-for="Aciklama" class="form-control" placeholder="Açıklama" rows="3"></textarea>
        </div>
        <span class="row font-weight-bold text-danger bg-light text-danger rounded mx-3 mb-2" asp-validation-for="Aciklama">
        </span>

        <input type="hidden" asp-for="HakkimizdaId" />
        <input type="hidden" asp-for="Imza" />

        <div class="col mb-2">
            <button type="submit" class="col btn btn-dark rounded mb-2">Kaydet</button>
        </div>

    </div>


</form>


@if (TempData["HakkimizdaIcerikEditlendi"] != null)
{
    <div class="alert alert-success" role="alert" id="HakkimizdaIcerikEditlendi">
        @TempData["HakkimizdaIcerikEditlendi"]
    </div>

}


@section scripts {
    <script>setTimeout(function () {
    var message = document.getElementById("HakkimizdaIcerikEditlendi");
            message.remove();
        }, 5000);</script>
}