<div claas="list-group">
    <div class="list-group p-1" data-toggle="collapse" data-target="#hayvanIslemleri" role="button">
        <div class="btn btn-dark rounded p-3 ">Hayvan İşlemleri</div>
        <div class="collapse navbar-collapse" id="hayvanIslemleri">
            <a href="/Admin/RenkEkle" class="list-group-item list-group-item-action list-group-item-dark">Renk Ekle</a>
            <a href="/Admin/RenkSil" class="list-group-item list-group-item-action list-group-item-dark">Renk Sil</a>
            <a href="/Admin/CinsEkle" class="list-group-item list-group-item-action list-group-item-dark">Cins Ekle</a>
            <a href="/Admin/CinsSil" class="list-group-item list-group-item-action list-group-item-dark">Cins Sil</a>
            <a href="/Admin/Turekle" class="list-group-item list-group-item-action list-group-item-dark">Tür Ekle</a>
            <a href="/Admin/Tursil" class="list-group-item list-group-item-action list-group-item-dark">Tür Sil</a>
            <a href="/Admin/CinsTurEslestir" class="list-group-item list-group-item-action list-group-item-dark">Cins Tür Eşleştirme</a>
            <a href="/Admin/CinsTurEslesmeKaldir" class="list-group-item list-group-item-action list-group-item-dark">Cins Tür Eşleşme Kaldır</a>
            <a href="/Admin/HastalikTanimla" class="list-group-item list-group-item-action list-group-item-dark">Hastalık Tanımla</a>
            <a href="/Admin/HastalikSil" class="list-group-item list-group-item-action list-group-item-dark">Hastalık Sil</a>
            <a href="/Admin/KanTahliliTanimla" class="list-group-item list-group-item-action list-group-item-dark">Tahlil Tanımla</a>
            <a href="/Admin/KanTahliliDuzenle" class="list-group-item list-group-item-action list-group-item-dark">Tahlil Düzenle</a>
            <a href="/Admin/KanTahliliSil" class="list-group-item list-group-item-action list-group-item-dark">Tahlil Sil</a>

        </div>
    </div>



    <div class="list-group p-1" data-toggle="collapse" data-target="#calisanIslemleri" role="button">
        <div class="btn btn-dark rounded p-3">Kullanıcı İşlemleri</div>
        <div class="collapse navbar-collapse" id="calisanIslemleri">
            <a href="/Admin/RolEkle" class="list-group-item list-group-item-action list-group-item-dark">Rol Ekle</a>
            <a href="/Admin/RolSil" class="list-group-item list-group-item-action list-group-item-dark">Rol Sil</a>
            <a href="/Admin/KisiEkle" class="list-group-item list-group-item-action list-group-item-dark">Kişi Ekle</a>
            <a href="/Admin/Kisisec" class="list-group-item list-group-item-action list-group-item-dark">Kişi Kaydı Düzenleme</a>
            <a href="/Admin/KisileriListele" class="list-group-item list-group-item-action list-group-item-dark">Kişileri Listele</a>
        </div>
    </div>

    <div class="list-group p-1" data-toggle="collapse" data-target="#StokIslemleri" role="button">
        <div class="btn btn-dark rounded p-3">Stok İşlemleri</div>
        <div class="collapse navbar-collapse" id="StokIslemleri">
            <a href="/Admin/KategoriEkle" class="list-group-item list-group-item-action list-group-item-dark">Kategori Ekle</a>
            <a href="/Admin/KategoriSil" class="list-group-item list-group-item-action list-group-item-dark">Kategori Sil</a>
            <a href="/Admin/BirimEkle" class="list-group-item list-group-item-action list-group-item-dark">Birim Ekle</a>
            <a href="/Admin/BirimSil" class="list-group-item list-group-item-action list-group-item-dark">Birim Sil</a>
            <a href="/Admin/StokKartiOlustur" class="list-group-item list-group-item-action list-group-item-dark">Stok Kartı Oluştur</a>
            <a href="/Admin/StokGoruntule" class="list-group-item list-group-item-action list-group-item-dark">Stok Görüntüle</a>
            <a href="/Admin/StokDuzenle" class="list-group-item list-group-item-action list-group-item-dark">Stok Düzenle</a>
            <a href="/Admin/StokGiris" class="list-group-item list-group-item-action list-group-item-dark">Stok Giriş</a>
            <a href="/Admin/StokCikis" class="list-group-item list-group-item-action list-group-item-dark">Stok Çıkış</a>

        </div>
    </div>

    <div class="list-group p-1" data-toggle="collapse" data-target="#icerikIslemleri" role="button">
        <div class="btn btn-dark rounded p-3">İçerik İşlemleri</div>
        <div class="collapse navbar-collapse" id="icerikIslemleri">
            <a href="/Admin/FotografEkle" class="list-group-item list-group-item-action list-group-item-dark">Fotoğraf Ekle</a>
            <a href="/Admin/FotografDuzenle" class="list-group-item list-group-item-action list-group-item-dark">Fotoğraf Duzenle</a>
            <a href="/Admin/SosyalMedyaEkle" class="list-group-item list-group-item-action list-group-item-dark">Sosyal Medya Ekle</a>
            <a href="/Admin/SosyalMedyaDuzenle" class="list-group-item list-group-item-action list-group-item-dark">Sosyal Medya Düzenle</a>
            <a href="/Admin/AdresEkle" class="list-group-item list-group-item-action list-group-item-dark">Adres Ekle</a>
            <a href="/Admin/AdresDuzenle" class="list-group-item list-group-item-action list-group-item-dark">Adres Düzenle</a>
            <a href="/Admin/HakkimizdaIcerikOlustur" class="list-group-item list-group-item-action list-group-item-dark">Hakkımızda Icerik Olustur</a>
            <a href="/Admin/HakkimizdaIcerikDuzenle" class="list-group-item list-group-item-action list-group-item-dark">Hakkımızda Icerik Düzenle</a>
        </div>
    </div>

    <div class="list-group p-1" data-toggle="collapse" data-target="#raporIslemleri" role="button">
        <div class="btn btn-dark rounded p-3">Raporlar</div>
        <div class="collapse navbar-collapse" id="raporIslemleri">
            <a href="/Raporlar/StokRaporlari" class="list-group-item list-group-item-action list-group-item-dark">Stok Raporları</a>
            <a href="/Raporlar/MuayeneRaporlari" class="list-group-item list-group-item-action list-group-item-dark">Muayene Raporları</a>
            <a href="/Raporlar/HastalikRaporlari" class="list-group-item list-group-item-action list-group-item-dark">Hastalik Raporları</a>

        </div>
    </div>
</div>