<div claas="list-group">
    <div class="list-group p-1" data-toggle="collapse" data-target="#muayaneIslemleri" role="button">
        <div class="btn btn-dark rounded p-3 ">Muayane İşlemleri</div>
        <div class="collapse navbar-collapse" id="muayaneIslemleri">
            <a href="/Veteriner/MuayeneEt" class="list-group-item list-group-item-action list-group-item-dark">Muayene Et</a>
            <a href="/Veteriner/MuayeneKayitlari" class="list-group-item list-group-item-action list-group-item-dark">Muayene Kayıtlarını Gör</a>
        </div>
    </div>    
</div>