@model KisiSecVeterinerViewModel

@section VeterinerMenu{
    @await Html.PartialAsync("_VeterinerMenu")
}


<form asp-action="KisiSec" asp-controller="Veteriner" method="post">
    <div class="form-row mb-2">
        <div class="col">
            <input asp-for="InsanTckn" class="form-control" placeholder="Hayvan sahibinin kişinin TCKN numarasını giriniz">
        </div>
        <div class="input-group-append">
            <button class="btn btn-dark rounded-right px-3" type="submit">Seç</button>
        </div>
    </div>
    <div class="col">
        <span class="row font-weight-bold text-danger bg-light text-danger rounded mb-2" asp-validation-for="InsanTckn">
        </span>
    </div>
</form>

@if (TempData["MuayeneEdildi"] != null)
{
    <div class="alert alert-success" role="alert" id="MuayeneEdildi">
        @TempData["MuayeneEdildi"]
    </div>

}


@if (ViewBag.model != null)
{
    @await Component.InvokeAsync("KisininHayvanlariniGetir", ViewBag.model);
}

@if (ViewBag.hayvanBilgileri != null)
{
    @await Component.InvokeAsync("HayvanBilgileriniGetir", ViewBag.hayvanBilgileri);
}

@section scripts{

    <script>
        setTimeout(function () {
            var message = document.getElementById("MuayeneEdildi");
            message.remove();
        }, 5000);
    </script>

    <script>
        var submitButton = document.getElementById('submit');

        document.addEventListener('DOMContentLoaded', function () {
            var selectElement = document.getElementById('select');

            if (!selectElement.value) {
                submitButton.disabled = true;
            }
        });

        document.getElementById('select').addEventListener('change', function () {
            var selectedOptionValue = this.value;

            if (!selectedOptionValue) {
                submitButton.disabled = true;
            } else {
                submitButton.disabled = false;
            }
        });

    </script>

}